.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Most active 10 users this week
    %p.text-center
      %strong FROM
      = 1.week.ago.strftime("%F")
      %strong TO
      = Date.today.strftime("%F")
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Number of comments
      %tbody
        - @users.each_with_index do |user, i|
          %tr
            %td= i + 1
            %td= user.name
            %td= user.count_comments
